
            body
            {
                background-color: #7C8282;
            }
            ul li {
                background-color: gray;
                display:inline;
                margin-left:30px;
            }
            
            
            .container {
                margin: 0 auto;
                background-color: white;
                border: 12px solid #3EA7AD;
                border-radius: 10px;
                margin-top: 30px;
                margin-left: 30px;
                margin-right: 30px;
                margin-bottom: 30px;
            }
                
            .cssmenu a {
                display: block;
                font-size: 15px;
                font-weight: bold;
                color: white;
                padding: 20px 10px;
                
            }
            
            .cssmenu a:hover {
                background-color: white;
                color: #3EA7AD;
                text-transform: uppercase;
            }
            
            .cssmenu li {
                 display: inline;
            }
            
            
            

 